:root{
    --red-light: #E90C46;
    --pink-light: #C92176;
    --purple-light: #954090;
    --purple-dark:#5C4E8F;
    --blue-light: #334F79;
    --blue-dark: #2F4858;
    --black: #000000;
    --white: #ffffff;
    --sm: 15px;
    --md: 20px;
    --lg: 50px;
}
 body {
    margin: 0;
    font-family: 'Courier New';
    background-color: var(--blue-dark);
}
nav{
    margin: 0;
    width: 100%;
    height: auto;
    display: grid;
    justify-self: flex-start;
}
.nav-general{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 3%;
    height: auto;
}
.nav-general li a {
    display: block;
    padding: 10px 20px;
    list-style: none;
}
.nav-general li a img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.nav-general li a img:hover{
    background-color: var(--purple-dark);
    cursor: pointer;
}
.nav-vertical {
    display: none;
    position: absolute;
    width: 200px;
    list-style: none;
}

.nav-general li:hover .nav-vertical{
    display: block;
}
.nav-vertical a:hover{
    background-color: var(--red-light);
    color: var(--black);
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.nav-vertical li a{
    color: var(--white);
    padding: 10px;
    background-color: #000000;
    text-decoration: none;
}
.header-container{
    width: 100%;
    display: grid;
    margin-top: 0;
    background-color: var(--black);
    text-align: center;
}
.header-container h1{
    font-size: var(--lg);
    color: var(--white);
    justify-self: center;
}

.coupons-container h4{
    width: 100%;
    height: 30px;
    margin: 0%;
    display: grid;
    place-content: center;
    background-color: var(--red-light);
    color: var(--white);
}
.coupons-container h4:hover{
   transform: scale(1.02);
   transition-duration: 0.5s;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 25px;
    place-content: center;
}
.main-container section{
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}
.main-container section img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.main-container section img:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.product-info{
    display: flex;
    justify-content: space-between;
}
.product-info p{
    font-weight: bold;
    font-size: var(--sm);
}
.product-info p span{
    color: var(--white);
}
.product-info figure{
    margin: 10px;
    border-radius: 30px;
    background-color: #E90C46;
}
.product-info figure img{
    width: 23px;
    height: 23px;
    object-fit: cover;
}
.bot-container{
    display: flex;
    margin-top: 70px;
    border-radius: 20px;
    background-color: var(--blue-light);
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-size: var(--sm);
}
.bot-container img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.bot-container img:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.bot-container p{
    justify-self: start;
    margin-right: 40px;
    font-weight: bold;
}
.bot-container label{
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}
.bot-container input{
    border-style: none;
    border-radius: 20px;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}
.bot-container input::placeholder{
    text-align: center;
    font-family: 'Courier New';
}
.bot-container button{
    border-style: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: var(--md);
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}
.bot-container button:hover{
    background-color: forestgreen;
    color: var(--white);
    font-weight: bold;
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.text-box{
    display: flex;
    place-content: center;
    color: var(--red-light);
    font-size: var(--lg);
    font-weight: bold;
    background-color: var(--blue-light);
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}
.text-box:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}
footer{
    display: flex;
    align-items: flex-end;
    text-align: center;
    font-size: var(--sm);
}
@media (max-width: 640px){
    .nav-general li a img{
        width: 20px;
        height: 20px;
    }
    .nav-vertical {
        width: auto;
        height: auto;
        font-size: 10px;
    }
    .coupons-container h4{
        height: 50px;
        font-size: var(--sm);
        text-align: center;
    }
    .main-container{
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .main-container section{
        width: 140px;
        height: 140px;
    }
    .main-container section img{
        width: 140px;
        height: 140px;
    }
    .product-info figure img{
        width: 15px;
        height: 15px;
    }
    .product-info figure{
        width: 15px;
        height: 15px;
    }
    .bot-container{
        font-size: 8px;
        margin-top: 70px;
        gap: 0px;
    }
    .bot-container p{
        margin-right: 0px;
    }
    .bot-container input{
       width: 90px;
       height: 20px;
    }
    .bot-container .button{
        font-size: var(--sm);
    }
    .text-box{
        font-size: var(--md);
    }
}